:root {
    --myc1: #FFFFFF;
    --myc2: rgb(195, 195, 195);
}

* {
    font-family: "微软雅黑";
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--myc1);
}

input:focus,
textarea:focus {
    outline: none;
}

/* 设置滚动条的样式 */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--myc2);
}

.hidden {
    display: none;
}